
.about-section {
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #446063, #CCD4DD);
}

/* Responsive media queries */

/* For small devices (e.g., smartphones) */
@media (max-width: 576px) {
  .about-section {
    padding: 30px;
    font-size: 14px;
  }
}

/* For medium devices (e.g., tablets) */
@media (min-width: 577px) and (max-width: 992px) {
  .about-section {
    padding: 40px;
    font-size: 16px;
  }
}

/* For large devices (e.g., laptops and desktops) */
@media (min-width: 993px) {
  .about-section {
    padding: 50px;
    font-size: 18px;
  }
}

 